# --- Global & Environment ---
.DS_Store
*.env
*.log

# --- Python (Recursive) ---
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE Settings ---
.vscode/
.idea/

# --- Backend Specific ---
# Data folder
backend/data/*.json
# Data folder - csv
backend/data/*.csv
# The database folder (Chroma Vector DB)
backend/chroma_data/
# The generated products CSV
backend/products.csv
# Scraper cache (if any)
.wdm/

# --- Database Volumes ---
backend/postgres_data/
backend/pgdata/
backend/neo4j_data/
*.sqlite3

# --- Frontend Specific ---
frontend/node_modules/
# Ignore build output
frontend/dist/
frontend/build/
# Frontend logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*